doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Module CSS
    body
        div
            div.div_union
                div.image
                  img(src="../src/image/elisabeth.gif")
                p.
                    #[strong Элизабет] - автор и разработчик программного обеспечения. Она с самого детства имеет дело с
                    Интернетом.
                        Элизабет -
                        соучредитель The Ada Project (TAP), сайта для женщин, который посвящен работе с компьютером и ныне принят
                        ACM
                        (Ассоциацией по вычислительной технике). Кроме того, Элизабет возглавляет работы по исследованию и и
                        развитию
                        цифровых носителей.
            div.div_union
                div.image
                  img(src="../../src/image/eric.gif")
                p.
                    #[strong Эрик] - исследователь в области компьютеров,
                                    страстно увлекающийся работой с информацией
                                    медиатипа и архитектурой систем программного
                                    обеспечения. В течении последних четырех лет
                                    он занимался реализацией своей мечты,
                                    управляя разработкой широкополосного
                                    Интернета и беспроводного доступа в Disney.
            include includes/keep.pug
            include includes/real_keep.pug



