mixin row(index_position, name_keep, page)
    tr
        td
        td.valign_index #{index_position}
        td !{name_keep}
        td.valign_page #{page}

div.div_indentation
    table.table_size.table_keep
        caption
            h1 Содержание (сводка)
        tr
            td(width='257px')
            td(width='45px')
            td(width='538px') Введение
            td 23
        +row("1","Язык Сети:  <em>знакомство с HTML</em>","35")
        +row("2","Знакомство с гипертекстом:<br/><em>идем дальше - используем гипертекст</em>","75")
        +row("3","Конструирование веб-страниц: <em>строительные блоки</em>","107")
        +row("4","Путешествие в Webville: <em>соединение</em>","151")
        +row("5","Знакомство с медиа: <em>добавление изображений на страницы</em>","189")
        +row("6","Серьезный HTML: <em>соответствие стандартам</em>","245")
        +row("7","Добавление X к HTML: <em>переходим к XHTML</em>","285")
        +row("8","Начнем работать над дизайном: <em>приступаем к работе с CSS</em>","303")
        +row("9","Увеличиваем словарный запас: <em>меняем шрифты и цвета</em>","357")
        +row("10","Познакомимся с элементами поближе: <em>блочная модель</em>","399")
        +row("11","Современная веб-конструкция: <em>элементы div и span</em>","411")
        +row("12","Расставим элементы по местам:<br/><em>разметка и позиционирование</em>","499")
        +row("13","Представление в табличной форме:<br/><em>таблицы и большие списки</em>","557")
        +row("14","Переход на интерактивный режим: <em>XHTML-формы</em>","597")
