mixin row(name_keep, page)
    tr
        td(colspan=2)
        td #{name_keep}
        td #{page}

div.div_indentation
    table.table_size.table_keep
        caption
            h1 Содержание (настоящее)
        tr
            td(width='30px')
            td(width='30px')
            td
            td(width='60px')
        tr
            td
            td(colspan=3)
                h2 Введение
        tr
            td
            td(colspan=3)
                p #[strong Поведение вашего мозга при изучении HTML и CSS.] Когда вы пытаетесь что-либо выучить, ваш мозг неустанно следит за тем, чтобы процесс изучения не остановился. Он думает: #[em "Лучше оставить место для более важной информации, чтобы, например, знать, встречи с какими дикими животными следует избегать. Или знать, что катание на сноуборде без специального снаряжения - не самая удачная идея"]. Как же убедить свой мозг в том,
                    | что
                    | для вас так же важно знать HTML и CSS?
        +row("Для кого написана эта книга?","24")
        +row("Кому не стоит читать эту книгу","24")
        +row("Мы знаем, что вы думаете","25")
        +row("Мы также знаем, о чем думает ваш мозг","25")
        +row("Метапознание: учимся учиться","27")
        +row("Вот что МЫ делали","28")
        +row("Вот что можете сделать ВЫ, чтобы заставить свой мозг работать","29")
        +row("Примите к сведению","30")
        +row("Технические рецензенты","32")
        +row("Благодарности","33")